@import url(./styles/reset.css);

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.container {

}

.drop-down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 10rem;
  font-size: 1.5rem;;
  background-color: rgb(217, 217, 217);
  border-radius: 8px;
}